<h1>{{pageName}}</h1>
<table id="t01" border="1">
    <thead>
        <tr>
            <!-- <th>ID</th>
            <th>Name</th>
            <th>Color</th> -->
            <th>Ticker</th>
            <th>SectorID</th>
        </tr>
    </thead>
    <tbody>
        {{#if rows.length }}
        {{#each rows }}
            <tr>

                <td>{{this.ticker}}</td>
                <td>{{this.sectorID}}</td>

            </tr>
        {{/each}}
        {{else}}
            <tr><td colspan="3"><p class='lead'><em>No records were found.</em></p></td></tr>
        {{/if}}
    </tbody>
</table>
